.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ffffff;

    &--md {
        width: 40px;
        height: 40px;
    }

    &--lg {
        width: 100px;
        height: 100px;
    }
}